<div class="panel panel-default">


<app-navbar></app-navbar>


<div class="container">
    <div class="row">
      <div class="col-xs-12">

<div class="col s8 offset-s2">
<div class="card">
    <div class="card-content1">

        <header class="header">
            <div class="sm-jumbotron center-align">
                    <h2>Profil Enseignant <i class="small material-icons">school</i></h2>
            </div>
        </header>


    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test4">Liste Classe</a></li>
        <li class="tab"><a class="active" href="#test5">Informations</a></li>
        <li class="tab"><a href="#test6">Liste Questionnaire</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test4">


          <table class="centered">
              <thead>
                <tr>
                    <th>Niveau</th>
                    <th>Groupe</th>
                    <th>Capacité</th>
                    <th>Promotion</th>
                </tr>
              </thead>
      
              <tbody>
                <tr>
                  <td>Licence 1</td>
                  <td>Groupe 1</td>
                  <td>25</td>
                  <td>2016/2017</td>
                </tr>
                <tr>
                  <td>Licence 2</td>
                  <td>Groupe 2</td>
                  <td>30</td>
                  <td>2017/2018</td>
                </tr>
                <tr>
                  <td>Licence 3</td>
                  <td>Groupe 1</td>
                  <td>20</td>
                  <td>2018/2019</td>
                </tr>
              </tbody>
            </table>

         






      </div>
      <div id="test5">


          <table class="striped">
              <tbody>
                 <tr>
                   <td>Identifiant/Mail</td>
                   <td>ghassen.belkhir@u-pec.fr</td>
                 </tr>
                 <tr>
                   <td>Nom</td>
                   <td>Belkhir</td>
                 </tr>
                 <tr>
                   <td>Prénom</td>
                   <td>Ghassen</td>
                 </tr>
                 <tr>
                     <td>Faculté</td>
                     <td>Sciences et Technologies</td>
                   </tr>
                   <tr>
                       <td>Filière</td>
                       <td>Informatique</td>
                     </tr>
               </tbody>
             </table> 
       


      </div>
      <div id="test6">
        
        
      

            <table class="centered">
                <thead>
                  <tr>
                      <th>Matière</th>
                      <th>Niveau</th>
                      <th>Commentaire</th>
                      <th>Date</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td>Génération de code</td>
                    <td>Master 1</td>
                    <td>CC1</td>
                    <td>17-12-18</td>
                  </tr>
                  <tr>
                    <td>Développement Mobile</td>
                    <td>Licence 3</td>
                    <td>CC3</td>
                    <td>13-02-17</td>
                  </tr>
                  <tr>
                    <td>Système Exploitation</td>
                    <td>Licence 2</td>
                    <td>CC1</td>
                    <td>05-04-16</td>
                  </tr>
                </tbody>
              </table>




                 
      </div>

      <app-footer></app-footer>

    </div>

</div>
</div>
</div>
</div>
</div>
