<div class="modal-content">
    <div class="sm-jumbotron center-align">
        <h4>Cr&eacute;ation de Questionnaire <i class="small material-icons">assignment_turned_in</i></h4>
    </div>
   <form [formGroup]="quizForm">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">title</i>
                <input id="title" type="text" class="validate" formControlName="title" [(ngModel)]="quiz.title" >
                <label for="title">Titre</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">comment</i>
                <textarea id="comment" class="materialize-textarea" formControlName="comment" [(ngModel)]="quiz.comment" ></textarea>
                <label for="comment">Commentaire</label>
            </div>
        </div>
    </form>
</div>


<div class="sm-jumbotron2 center-align">
    <button (click)="navigate()" class="waves-effect waves-light btn modal-close pulse" [disabled]="quizForm.invalid">Cr&eacute;er
    </button>
</div>
