<app-navbar></app-navbar>
<div class="container-fluid">

    <div class="row">
         

        
    
          <div  class="col l7 offset-l1">
              <div class="row">
                <h6 class="card-panel  center-align  red lighten-2 white-text col l6"  style="height: 40px">
                  MES DERNIERS EXAMENS  <i class="material-icons">crop_square</i></h6>
                  <div class="collection with-header col l12">
                
                      <a  class="collection-item"><div><i class="material-icons">archive</i> Examens<a href="#!" class="secondary-content"><i class="material-icons md-light">visibility</i></a></div></a>
                      <a class="collection-item"><div><i class="material-icons">archive</i> Notebook i7 8GB White <a href="#!" class="secondary-content"><i class="material-icons">visibility</i></a></div></a>
                      <a class="collection-item"><div><i class="material-icons">archive</i> ANotebook i7 8GB White<a href="#!" class="secondary-content"><i class="material-icons">visibility</i></a></div></a>
                      <a class="collection-item"><div><i class="material-icons">archive</i> Notebook i7 8GB Whiter<a href="#!" class="secondary-content"><i class="material-icons">visibility</i></a></div></a>
                      <a class="collection-item"><div><i class="material-icons">archive</i> ANotebook i7 8GB White<a href="#!" class="secondary-content"><i class="material-icons">visibility</i></a></div></a>
                      <a class="collection-item"><div><i class="material-icons">archive</i> Notebook i7 8GB Whiter<a href="#!" class="secondary-content"><i class="material-icons">visibility</i></a></div></a>
                  </div> 
        <h6 class="center-align  red lighten-2 white-text col l6" style="height: 40px">
          MES DERNIERS TEST <i class="material-icons">crop_square</i></h6>
        
          <div class="collection with-header col l12">
                
              <a  class="collection-item"><div><i class="material-icons">archive</i> Notebook i7 8GB White<a href="#!" class="secondary-content"><i class="material-icons">visibility</i></a></div></a>
              <a class="collection-item"><div><i class="material-icons">archive</i> Notebook i7 8GB White <a href="#!" class="secondary-content"><i class="material-icons">visibility</i></a></div></a>
              <a class="collection-item"><div><i class="material-icons">archive</i> ANotebook i7 8GB White<a href="#!" class="secondary-content"><i class="material-icons">visibility</i></a></div></a>
              <a class="collection-item"><div><i class="material-icons">archive</i> Notebook i7 8GB Whiter<a href="#!" class="secondary-content"><i class="material-icons">visibility</i></a></div></a>

          </div> 
      
      </div>
      </div> 
      
      <div class="col l2 offset-l2">
         <div class="row">
           <br/>
           <br/>
           <br/>
            <aside style="width:150px ;height: 150px" class="center-align card-panel teal lighten-2 col l12">
                <br/><br/><br/>
            créer une classe <br/> <i class="material-icons">add_circle</i>
            </aside>
            <aside style="width:150px ;height: 150px" class="center-align card-panel teal lighten-2 col l12">

                <br/><br/>
                    creer un questionnaire <br/> <i class="material-icons">add_circle</i>
                </aside>
                <aside style="width:150px ;height: 150px" class="center-align card-panel teal lighten-2 col l12">

                    <br/><br/><br/>
                         creer un sondage <br/> <i class="material-icons">add_circle</i>
                    </aside>
       </div>
    </div>
    
      
      
</div>



</div>

<app-footer></app-footer>

















