<div class="panel panel-default">

<app-navbar></app-navbar>


<div class="container">
      <div class="row">
        <div class="col-xs-12">

<div class="col s8 offset-s2">
  <div class="card">
      <div class="card-content1">
  
          <header class="header">
              <div class="sm-jumbotron center-align">
                      <h2>Profil Etudiant <i class="small material-icons">person</i></h2>
              </div>
          </header>

  
      </div>
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="tab"><a href="#test4">Résultats</a></li>
          <li class="tab"><a class="active" href="#test5">Informations</a></li>
          <li class="tab"><a href="#test6">Contact</a></li>
        </ul>
      </div>
      <div class="card-content grey lighten-4">
        <div id="test4">
  
  
  
            <table class="centered">
                <thead>
                  <tr>
                      <th>Matière</th>
                      <th>QCM</th>
                      <th>Note</th>
                      <th>Moyenne classe</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td>Anglais</td>
                    <td>1</td>
                    <td>15</td>
                    <td>12</td>
                  </tr>
                  <tr>
                    <td>Génération de code</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Design Pattern</td>
                    <td>4</td>
                    <td>9</td>
                    <td>11</td>
                  </tr>
                </tbody>
              </table>
  
  
  
  
  
  
        </div>
        <div id="test5">
  
  
      
        <table class="striped">
         <tbody>
            <tr>
              <td>Identifiant/Mail</td>
              <td>tony.vo@etu.u-pec.fr</td>
            </tr>
            <tr>
              <td>Nom</td>
              <td>VO</td>
            </tr>
            <tr>
              <td>Prénom</td>
              <td>Tony</td>
            </tr>
            <tr>
                <td>Niveau</td>
                <td>Master 1</td>
              </tr>
              <tr>
                  <td>Filière</td>
                  <td>Informatique</td>
                </tr>
          </tbody>
        </table> 
  
  
  
  
        </div>
        <div id="test6">
          
          
          
  
  
          
            <div classe="row1">
                    <div class="col-lg-6">
                        <h4>Subheading</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
             
                        <h4>Subheading</h4>
                        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
             
                        <h4>Subheading</h4>
                        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                        <p><br/></p>
                    </div>
              </div>
                   
        </div>
        <app-footer></app-footer>

      </div>
  </div>
  </div>


</div>
</div>
</div>